body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: rgb(192, 255, 237);
  }
  
  h1 {
    font-size: 50px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    letter-spacing: 4px;
    color: rgb(17, 17, 17);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    white-space: nowrap;
  }
  
  .container {
    text-align: center;
  }
  
  .btn {
    padding: 30px 50px;
    background-color: rgb(255, 255, 255);
    border: none;
    margin: 10px;
    font-size: 30px;
    min-width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-image: url("images/tom.png");
    background-size: cover;
    color: rgb(255, 255, 255);
    font-family: cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    text-transform: capitalize;
  }
  
  .btn:hover {
    color: rgb(229, 192, 255);
  }
  
  .btn:active {
    background-size: 105%;
  }